; set a new registry for the @fql scoped package
@fql:registry=http://registry.npm.frd.fenqile.com
; set a new registry for the @dszc scoped package
@dszc:registry=http://registry.npm.frd.fenqile.com
@lotus:registry=http://registry.npm.frd.fenqile.com
@bone:registry=http://registry.npm.frd.fenqile.com